
body{
background-color: #FFF1F0;

}

h1, h3{

text-align: center;
color: #5B4A4A;

}

h3{
text-align: center;
color: #F28AB2;

}

.btn {

background-color :  #f49ac2;
color: white;
font-weight: bold;
border: none;
}

.btn:hover{

background-color: #F28AB2;

}
.products-offered{

display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.single-items{
    text-align:center;
    width: 18%


}

.single-items img{
width: 100%;
height: 250px;
display: block;
margin-bottom:2px;
object-fit: cover;
border: 10px solid  pink ;


}

#productkeyword{

 margin-bottom: 20px;
}

.img-name{

text-align:  center;
margin: 0;
padding: 5px 0 0 0;
color: #5B4A4A;
 font-weight: bold;
 font-size: 20px;


}

.single-items:hover{

background-color:rgba(242, 138, 178, 0.2);