<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/demo.css">
    <title>About Us</title>
</head>
<body>
<h1>About</h1>
<h3>Blooms All Around </h3>
<h2>Welcome to Blooms All Around, a one stop shop for beautiful flowers and thoughtful gifts! We offer a variety of fresh bouquets and floral arrangements. </h2>
<h2>In addition to flowers, we also provide delightful gifts to make every occasion special.</h2>

<a href ="/home">Back to Mainscreen</a>
</body>
</html>
